.NewTodoForm {
	display: flex;
	align-items: center;
	justify-content: center;
}

.NewTodoForm form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
}

.NewTodoForm button {
	margin-top: 1rem;
	cursor: pointer;
	margin-bottom: 0.5rem;
}
